USE [master]
GO
/****** Object:  Database [lindaAdmin]    Script Date: 2018-09-07 15:27:22 ******/
CREATE DATABASE [lindaAdmin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'game', FILENAME = N'E:\sql-server-2012\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\game.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'game_log', FILENAME = N'E:\sql-server-2012\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\game_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lindaAdmin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lindaAdmin]
GO
/****** Object:  Table [dbo].[userLogin]    Script Date: 2018-09-07 15:27:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userLogin](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[userPassword] [varchar](50) NOT NULL,
	[userIp] [char](20) NULL,
	[userAddress] [varchar](100) NULL,
	[userDate] [datetime2](0) NULL,
 CONSTRAINT [PK_userLogin] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
